STRAPI_URL=https://api.hugobollon.dev
STRAPI_TOKEN=your_strapi_token
STRAPI_MEDIA_CDN_URL=
NUXT_PUBLIC_SITE_URL=https://hugobollon.dev
GOOGLE_ANALYTICS_ID=
AWS_ROLE_ARN=
AWS_REGION=eu-west-3
S3_BUCKET_NAME=
CLOUDFRONT_DISTRIBUTION_ID=
