STRAPI_URL=https://api.hugobollon.dev
STRAPI_TOKEN=your_strapi_token
STRAPI_MEDIA_CDN_URL=
NUXT_PUBLIC_SITE_URL=https://hugobollon.dev
NUXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NUXT_PUBLIC_GITHUB_TOKEN=
UMAMI_WEBSITE_ID=
UMAMI_SCRIPT_URL=https://cloud.umami.is/script.js
AWS_ROLE_ARN=
AWS_REGION=eu-west-3
S3_BUCKET_NAME=
CLOUDFRONT_DISTRIBUTION_ID=
